@inherits LayoutComponentBase
@inject GlobalStateService gss
@inject NavigationManager nm

<PageTitle>Veil</PageTitle>

<div class="page">
    <MudPaper Height="100vh" Width="100vw" Style="overflow:hidden; position:relative;">
        <MudDrawerContainer Class="mud-height-full">
            <MudDrawer @bind-Open="@open" Fixed="false" Elevation="1" Variant="@DrawerVariant.Mini">
                <MudNavMenu>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home" Href="/">Home</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.GridView" Href="dashboard">Dashboard</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Map" Href="map">Map</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.WbSunny" Href="weather" >Weather</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.ContentPasteSearch" Href="stock" >Stock</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.LibraryBooks" Href="literature" >Literature</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Speed" Href="telemetry" >Telemetry</MudNavLink>
                </MudNavMenu>
                    <div class="bottom-of-sidebar">
                <div class="clock-sidebar-container">
                    @(DateTime.Now.ToLongTimeString())
                </div>
                    <MudToggleIconButton Class="" @bind-Toggled="@TransmissionEnabled"
                                         Icon="@Icons.Material.Filled.SignalWifiOff"  Color="@Color.Error" Title="Transmission Disabled"
                                         ToggledIcon="@Icons.Material.Filled.SignalWifi4Bar" ToggledColor="@Color.Success" ToggledTitle="Transmission Enabled" id="TransmissionToggleButton" />
                        </div>
            </MudDrawer>
            <div class="d-flex justify-center align-center mud-height-full px-4">
                <main class="">
                    @Body
                </main>
            </div>
        </MudDrawerContainer>
    </MudPaper>
</div>

@code
{
    bool open = true;
    bool TransmissionEnabled 
    {
        get { return gss.IsTransmissionEnabled; }
        set {
            gss.IsTransmissionEnabled = value;
            nm.NavigateTo(nm.Uri, forceLoad: true);
        }
    }
        
        
        public bool DataUsageEnabled = false;

    System.Threading.Timer timer;

protected override void OnInitialized()
{
    timer = new System.Threading.Timer(async _ =>  // async void
    {
        // we need StateHasChanged() because this is an async void handler
        // we need to Invoke it because we could be on the wrong Thread          
        await InvokeAsync(StateHasChanged);
    }, null, 0, 1000);
}

    void ToggleDrawer()
    {
        open = !open;
    } 
}

